﻿@model PartnerWeb.Models.Pension
@{ Layout = "_layout"; }
@addTagHelper *,PartnerWeb.Utils

@{
    var yes = Model.Agreement == true ? "checked" : "";
    var no = Model.Agreement == false ? "checked" : "";
}

@using (Html.BeginForm("StepThreeSave", "Home"))
{
    <style>
        .cn {
            height: 100px;
            width: 300px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    </style>

    <section class="sharedsection">
        <section class="sectioncontent">
            <center>
                <img class="logo" src="~/img/fiken-duvi.png" />
                <h1>
                    Nesten i mål!
                </h1>
            </center>
            <stepindicator step-count="4"
                           current="3"
                           form-text="Steg {0} av {1}" />
            <center>
                <p>Skal avtalen med Duvi erstatte en eksisterende pensjonsavtale?</p>
                <div class="container cn">
                    <div class="row">
                        <div class="col-sm-12 align">
                            <ul class="toggle">
                                <li>
                                    <div class="round">
                                        <span>Ja</span>
                                        <input type="checkbox" name="yes" @yes onclick="javascript:toggle(this, 'no')" id="yes" />
                                        <label for="yes"></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="round">
                                        <span>Nei</span>
                                        <input type="checkbox" name="no" @no onclick="javascript:toggle(this, 'yes')" id="no" />
                                        <label for="no"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </center>
        </section>
    </section>



    /*This should be made as a control...*/
    <section class="sharedSection gray">
        <section class="sectioncontent">
            <div class="dropdown">
                <label>Dagens tilbyder</label>
                <div class="select">
                    <span id="savingsprovidername">&nbsp;</span>
                    <i class="fa fa-chevron-left"></i>
                </div>
                <input type="hidden" name="Ceeding" id="Ceeding" value="@Model.Ceeding">
                <ul class="dropdown-menu" id="SavingsProviderList">
                    @Html.Raw(ViewData["SavingsProviders"])
                </ul>
            </div>
        </section>
    </section>


    <section class="sectioncontent bottom">
        <center>
            <p><input type="submit" class="btn valid" value="Til signering" /></p>
            <p>@Html.ActionLink("Tilbake", "steptwo", "Home", null, new { @class = "btn" })</p>

            <p>
                Har du spørsmål? Send oss en e-post<br />på <a class="link" href="mailto:post@fiken.no">ﬁken@duvi.no</a>
            </p>
        </center>
    </section>
    @Html.HiddenFor(m => m.Agreement)

}

@section Scripts{
    <script>

        $(document).ready(function () {
            var checked = '@no';
            if (checked == 'checked') {
                $('.dropdown').addClass('disabled');
                $('.dropdown li.selected').removeClass("selected");
                $('.dropdown li').first().addClass("selected");
                var val = $('.dropdown .dropdown-menu li.selected');
                $(val).parents('.dropdown').find('span').text(val.text());
            }
        });

        //Ugly function
        function toggle(me, other) {
            var chk = document.getElementById(other);
            var curr = me.getAttribute("name");

            if (curr === 'yes' && me.checked === true) {
                document.getElementById("Agreement").setAttribute("value", true);
              
                chk.checked = false;
                $('.dropdown').removeClass('disabled');
            } else if (curr === 'no' && me.checked === true) {
                document.getElementById("Agreement").setAttribute("value", false);
                
                chk.checked = false;
                $('.dropdown li.selected').removeClass("selected");
                $('.dropdown li').first().addClass("selected");
                var val = $('.dropdown .dropdown-menu li.selected');
                $(val).parents('.dropdown').find('span').text(val.text());
                $('.dropdown').addClass('disabled');
            }
        }
    </script>
}
