﻿@model PartnerWeb.Models.Pension
@{ Layout = "_layout"; }
@addTagHelper *,PartnerWeb.Utils




<section class="sharedSection">
    <section class="sectioncontent">
        <center>
            <img class="logo" src="~/img/fiken-duvi.png" />
            <h1>
                Vi behandler  din forespørsel!
            </h1>
        </center>
            <stepindicator step-count="4"
                           current="3"
                           form-text="Steg {0} av {1}" />

        
    </section>



    <section class="sectioncontent bottom">
        <center>
            <p><button class="btn valid"><img src="~/img/3.svg" /></button></p>

            @*<p>@Html.ActionLink("Tilbake", "stepthree", "Home", null, new { @class = "btn" })</p>*@

            <p>
                Har du spørsmål? Send oss en e-post<br />på <a class="link" href="mailto:post@fiken.no">ﬁken@duvi.no</a>
            </p>
        </center>
    </section>

    <script>

        /*
         * Prevent user from navigating back (back button), due to lost session.
         */
        (function (global) {

            if (typeof (global) === "undefined") {
                throw new Error("window is undefined");
            }

            var _hash = "!";
            var noBackPlease = function () {
                global.location.href += "#";

                // making sure we have the fruit available for juice (^__^)
                global.setTimeout(function () {
                    global.location.href += "!";
                }, 50);
            };

            global.onhashchange = function () {
                if (global.location.hash !== _hash) {
                    global.location.hash = _hash;
                }
            };

            global.onload = function () {
                noBackPlease();

                // disables backspace on page except on input fields and textarea..
                document.body.onkeydown = function (e) {
                    var elm = e.target.nodeName.toLowerCase();
                    if (e.which === 8 && (elm !== 'input' && elm !== 'textarea')) {
                        e.preventDefault();
                    }
                    // stopping event bubbling up the DOM tree..
                    e.stopPropagation();
                };
            }

        })(window);
    </script>

</section>