﻿@inject OrchardCore.Environment.Shell.Configuration.IShellConfiguration configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@configuration["CustomTitle"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <section class="sectionroot">
        <section class="sectioncontainer">
            @RenderBody()
        </section>
    </section>

    <br /><br />
    <footer class="border-top footer text-muted">
        <center>
            <div class="container">
                &copy; 2020 - PartnerWeb - | <a href="/fiken">Fiken</a> | <a href="/partner/test">WebApi</a> | <a href="/swagger">Swagger</a> | <a href="/fiken/elements">Html</a>
            </div>
        </center>
    </footer>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/select.js"></script>
    <script src="~/js/calculate.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>