﻿<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.js"></script>
<script src="~/js/select.js"></script>
<script src="~/old/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
