﻿@page

<section class="sharedSection">
    <section class="sectioncontent">
        <center>
            <br /><br />
            <h1 class="display-4">Welcome</h1>
            <br />
            <br />@*For testing*@
            <b>Use some prepared of the prospect links</b><br />
            <a href="/fiken/onboarding/prospect?prospectid=26a18c88-61c0-410a-ac16-420880dfcc1d">My company one</a><br />
            <a href="/fiken/onboarding/prospect?prospectid=950e7fec-a458-44cd-91ce-c0703c832908">My company two</a><br />
            <a href="/fiken/onboarding/prospect?prospectid=06024318-e604-4166-b3a5-6d24e7306762">My company three</a>
            <br />
            <br />
            <b>Default tenant</b><br />
            <a href="/onboarding/prospect?prospectid=06024318-e604-4166-b3a5-6d24e7306762">My company three</a>
        </center>
    </section>
    <section class="sectioncontent bottom">
    </section>
</section>