﻿@model PartnerWeb.Models.Pension

@{ Layout = "_layout"; }

@addTagHelper *,PartnerWeb.Utils

@using (Html.BeginForm("StepTwo", "Home"))
{
    <section class="sectionroot">
        <section class="sectioncontainer shadowed">

            <section class="sharedSection">
                <section class="sectioncontent">
                    <!---->
                    <center>
                        <img class="logo" src="~/img/fiken-duvi.png" />

                        <h1>Header</h1>
                        <p>Paragraf text</p>
                        <p><a href="#">Linktext</a></p>
                        <p><a href="#" class="link">Linktext colored</a></p>
                    </center>
                    <!---->
                </section>
            </section>


            <section class="sharedSection">
                <section class="sectioncontent">
                    <!---->
                    <stepindicator step-count="4"
                                   current="3"
                                   form-text="Steg {0} av {1}" />
                    <!---->
                </section>
            </section>


            <section class="sharedSection">
                <section class="sectioncontent">
                    <!---->
                    <b>Toggle checkbox</b><br />
                    <label class="tgl">
                        <input type="checkbox" />
                        <span data-on="Ja" data-off="Nei"></span>
                    </label>
                    <!---->
                </section>
            </section>



            <section class="sharedSection">
                <section class="sectioncontent">
                    <b>Buttons</b><br /><br />
                    <!---->
                    <center>
                        <input class="btn valid" type="button" value="Next valid" /><br /><br />
                        <input class="btn" type="button" value="Buttontext" /><br /><br />
                        <input class="btn next" type="button" value="Next" />
                    </center>
                    <!---->
                </section>
            </section>



            <section class="sharedSection">
                <section class="sectioncontent">
                    <!---->
                    <b>Range</b><br /><br /><br />
                    <div class="range-control">
                        <input id="inputRange1" type="range" oninput="calc(this)" min="0" max="100" step="1" value="2" data-thumbwidth="10">
                        <output name="rangeVal">2%</output>
                    </div>
                    <br /><br />

                    <div class="range-control">
                        <input id="inputRange2" oninput="calc(this)" type="range" min="0" max="20" step="1" value="9" data-thumbwidth="10">
                        <output name="rangeVal">9%</output>
                    </div>
                    <!---->
                </section>
            </section>



            <section class="sharedSection" style="background: #f8f8f8">
                <section class="sectioncontent">
                    <div class="dropdown">
                        <label>Select option</label>
                        <div class="select">
                            <span>&nbsp;</span>
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="options">
                        <ul class="dropdown-menu">
                            <li id="0">Select option</li>
                            <li id="1">First option</li>
                            <li id="2">Second option</li>
                        </ul>
                    </div>
                </section>
            </section>



            <section class="sharedSection" style="background: #f8f8f8">
                <section class="sectioncontent">
                    <div class="dropdown valid">
                        <label>Selected valid</label>
                        <div class="select">
                            <span>&nbsp;</span>
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="options">
                        <ul class="dropdown-menu">
                            <li id="0">Select option</li>
                            <li id="1">First option</li>
                            <li id="2">Second option</li>
                        </ul>
                    </div>
                </section>
            </section>


            <section class="sharedSection" style="background: #f8f8f8">
                <section class="sectioncontent">
                    <div class="dropdown invalid">
                        <label>Selected invalid</label>
                        <div class="select">
                            <span>&nbsp;</span>
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="options">
                        <ul class="dropdown-menu">
                            <li id="0">Select option</li>
                            <li id="1">First option</li>
                            <li id="2">Second option</li>
                        </ul>
                    </div>
                </section>
            </section>




            <section class="sharedSection">
                <section class="sectioncontent">
                    <!----><b>Toggle state</b><br /><br />
                    <div class="container cn">
                        <div class="row">
                            <div class="col-sm-12 align">
                                <ul class="toggle">
                                    <li>
                                        <div class="round">
                                            <span>Ja</span>
                                            <input type="checkbox" onclick="javascript:toggle(this, 'checkbox2')" id="checkbox" />
                                            <label for="checkbox"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="round">
                                            <span>Nei</span>
                                            <input type="checkbox" onclick="javascript:toggle(this, 'checkbox')" id="checkbox2" />
                                            <label for="checkbox2"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!---->
                </section>
            </section>




            <section class="sharedSection">
                <section class="sectioncontent">
                    <!----><b>Dual textfields</b><br />
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="textfield">
                                    <span class="field-validation-valid"></span>
                                    <label for="label1">First box</label>
                                    <input type="text" id="label1">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="textfield active">
                                    <span class="field-validation-valid"></span>
                                    <label for="label1">Second box valid</label>
                                    <input type="text" id="label1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                </section>
            </section>




            <section class="sharedSection">
                <section class="sectioncontent">
                    <div class="textfield">
                        <span class="field-validation-valid"></span>
                        <label for="label1">Textfield</label>
                        <input type="text" required id="label1">
                    </div>

                    <div class="textfield">
                        <span class="field-validation-valid"></span>
                        <label for="label4">Textfield (Email)</label>
                        <input type="email" required id="label4">
                    </div>

                    <div class="textfield active">
                        <span class="field-validation-valid"></span>
                        <label for="label2">(Org.nr)Textfield valid</label>
                        <input type="text" required onkeypress='validate(event)' pattern="[0-9]*" min="0" max="9" maxlength="9" id="label2">
                    </div>

                    <p>Above field uses the numeric pad on IPhone. Has a maxlenght of 9 digits and only allows input digits.</p>

                    <div class="textfield invalid">
                        <span class="field-validation-invalid"></span>
                        <label for="label3">Textfield invalid</label>
                        <input type="text" required id="label3">
                    </div>
                    <span class="form-validation-error">This field contains an error.</span>
                 </section>
            </section>



            <section class="sharedSection" style="background: #f8f8f8">
                <section class="sectioncontent">
                    <center>
                        <h1>Header</h1>
                        <p>
                            <div class="info-tooltip">
                                <span><img class="infoimg" src="~/img/info.svg" /></span>
                                <div class="tooltiptext">
                                <span>Tooltip text that extends by the text 
                                    for the visitor. Includes a box if it's media is other than pc or mac. 
                                </span></div>
                            </div>
                            <br />
                            Paragraf text that extends by the text.
                        </p>
                        <p><a href="#">Linktext</a></p>
                        <p><a href="#" class="link">Linktext colored</a></p>
                    </center>
                </section>
            </section>

            <br/><br/>

        </section>
    </section>

    @section Scripts{
        <script>

            $(document).ready(function () {
                var el1 = $('#inputRange1');
                var el2 = $('#inputRange2');
                calc(el1);
                calc(el2);
            });

            function validate(evt) {
                var theEvent = evt || window.event;

                // Handle paste
                if (theEvent.type === 'paste') {
                    key = event.clipboardData.getData('text/plain');
                } else {
                    // Handle key press
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode(key);
                }
                var regex = /[0-9]|\./;
                if (!regex.test(key)) {
                    theEvent.returnValue = false;
                    if (theEvent.preventDefault) theEvent.preventDefault();
                }
            }


            function toggle(me, other) {
                var chk = document.getElementById(other);

                if (me.checked == true) {
                    me.checked = true;
                    chk.checked = false;
                }
                else {
                    me.checked = false;
                    chk.checked = true;
                }
            }


            function calc(el) {
                var control = $(el),
                    controlMin = control.attr('min'),
                    controlMax = control.attr('max'),
                    controlVal = control.val(),
                    controlThumbWidth = control.data('thumbwidth');

                var range = controlMax - controlMin;

                var position = ((controlVal - controlMin) / range) * 100;
                var positionOffset = Math.round(controlThumbWidth * position / 100) - (controlThumbWidth / 2) + (position / 7);
                var output = control.next('output');

                output
                    .css('left', 'calc(' + position + '% - ' + positionOffset + 'px)')
                    .text(controlVal + '%');
            }
        </script>

    }
}



