﻿@{ Layout = "_layout"; }

@model PartnerWeb.Models.Pension

@using (Html.BeginForm("StepOne", "Home"))
{
    <section class="sharedSection">
        <section class="sectioncontent bottom">
            <!---->
            <center>
                
                <h1>Velkommen!</h1>
               
                <p>I denne veiviseren får du mulighet til å bestille pensjon fra DUVI fullintegrert med Fiken. For å gjøre det enkelt for deg, hentes alle data fra Fiken – du trenger bare å klikke deg igjennom.</p>
                <br/><br />
                <p><input type="submit" class="btn valid" value="Neste" /></p>
            </center>
            <!---->
        </section>
    </section>
    @Html.HiddenFor(c => c.Company)
    @Html.HiddenFor(c => c.Count)
    @Html.HiddenFor(c => c.CurrentProvider)
    @Html.HiddenFor(c => c.Email)
    @Html.HiddenFor(c => c.OrgNo)
    @Html.HiddenFor(c => c.YearlySalary)
    @Html.HiddenFor(c => c.ProspectId)
}
