﻿@model PartnerWeb.Models.Pension
@{ Layout = "_layout"; }
@addTagHelper *,PartnerWeb.Utils

@using (Html.BeginForm("steponesave", "Home", FormMethod.Post))
{
    <section class="sharedSection">
        <section class="sectioncontent">
            <center>
               

                <h1>
                    Bestill pensjon<br />fra Duvi
                </h1>
            </center>
            <stepindicator step-count="4"
                           current="1"
                           form-text="Steg {0} av {1}" />

            <!---->
            <div class="textfield">
                @Html.ValidationMessageFor(m => m.Company)
                @Html.LabelFor(m => m.Company)
                @Html.TextBoxFor(m => m.Company)
            </div>


            <div class="textfield">
                @Html.ValidationMessageFor(m => m.OrgNo)
                @Html.LabelFor(m => m.OrgNo)
                @Html.TextBoxFor(m => m.OrgNo)
            </div>

            <div class="textfield">
                @Html.ValidationMessageFor(m => m.Email)
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </div>

            <section class="sectioncontent bottom">
                <center>
                    <p><input type="submit" class="btn next" value="Neste" /></p><br />
                    <p>
                        Vil du vite mer om hvordan vi behandler<br />personopplysninger? <a href="javascript:void(0)">Klikk her</a><br />
                    </p>
                    <p>
                        Har du spørsmål? Send oss en e-post<br />på <a class="link" href="mailto:post@fiken.no">ﬁken@duvi.no</a>
                    </p>
                </center>
            </section>

        </section>
    </section>
}
