﻿@model PartnerWeb.Models.Pension
@{ Layout = "_layout"; }
@addTagHelper *,PartnerWeb.Utils

@using (Html.BeginForm("StepTwoSave", "Home", FormMethod.Post))
{
    <section class="sharedSection">
        <section class="sectioncontent">
            <center>
                <h1>Ditt tilbud</h1>
            </center>
            <stepindicator step-count="4"
                           current="2"
                           form-text="Steg {0} av {1}" />

            <section class="sectioncontent">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="textfield active">
                                @Html.ValidationMessageFor(m => m.Count)
                                @Html.LabelFor(m => m.Count)
                                @Html.TextBoxFor(m => m.Count)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="textfield active">
                                @Html.ValidationMessageFor(m => m.YearlySalary)
                                @Html.LabelFor(m => m.YearlySalary)
                                @Html.TextBoxFor(m => m.YearlySalary)
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Hidden("ProspectId", ViewData["ProspectId"])
                <center>
                    <p>
                        <div class="info-tooltip">
                            <span><img class="infoimg" src="~/img/info.svg" /></span>
                            <div class="tooltiptext">
                                <span>
                                    Tilbud er basert på antall ansatte og gj.snittslønn i din bedrift. Merk at endelig sparing er en prosentsats av utbetalt lønn. Det kan derfor avvike noe fra dette tallet, men beregnes på data fra Fiken.
                                    <br /><br />
                                    I prisen er det medregnet innskuddsfritak. Dette er en forsikring som sikrer innbetaling dersom man skulle bli arbeidsufør. Totalbeløpet vil være sparebeløpet  + gebyr.
                                </span>
                            </div>
                        </div>
                        <br />
                        Månedlig sparing til de ansatte
                    </p>
                    <h1 class="huge"><span id="savings">15.256</span>,-</h1>
                    <p>
                        Gebyr til Duvi <span class="colored">(20% Fiken-rabatt)</span>
                    </p>

                    <h2 class="medium">250,-</h2>
                    <br />
                    <p>
                        Vil du se detaljer eller justere tilbudet? <br />
                        <a href="javascript:void(0)" class="showpanel">Klikk her</a>
                    </p>
                </center>
                <!---->
            </section>
        </section>
    </section>

    <section class="sharedSection gray hidden" id="panel">
        <section class="sectioncontent">
            <center>
                <img src="~/img/up.png" class="showpanel" style="width: 47px" />
                <h1>
                    Tilpass ditt tilbud
                </h1>
                <p class="smaller">
                    Tilbudet over er basert på det som er lovpålagt (og vanlig) å spare. De ﬂeste gjør ingen justeringer, men dersom du vil kan du endre sparesatser  (du kan også justere senere når du er blitt kunde).
                </p>
                <br />
            </center>
            <b>Sparing for inntekt fra 0 G</b><br />
            <label class="tgl">
                <input type="checkbox" />
                <span data-on="Ja" data-off="Nei"></span>
            </label>
            <br/>
            <br />

            <b>Sparing for inntekt under 7,1 G </b><br /><br />
            <div class="range-control">
                <input id="inputRange1" type="range" oninput="calc(this)" min="0" max="100" step="1" value="2" data-thumbwidth="10">
                <output name="rangeVal">2%</output>
            </div>
            <br/>
            <b>Sparing for inntekt over 7,1 G </b><br /><br />
            <div class="range-control">
                <input id="inputRange1" type="range" oninput="calc(this)" min="0" max="20" step="1" value="9" data-thumbwidth="10">
                <output name="rangeVal">9%</output>
            </div>

            <br/>
            <div class="table">
                <div class="row">
                    <div class="cell header">Oversikt</div>
                    <div class="cell header">Årlig</div>
                    <div class="cell header">Pr mnd.</div>
                </div>
                <div class="row">
                    <div class="cell">Sparing til ansatte</div>
                    <div class="cell">0</div>
                    <div class="cell">0</div>
                </div>
                <div class="row border-bottom">
                    <div class="cell">Innskuddsfritakspremie*</div>
                    <div class="cell">0</div>
                    <div class="cell">0</div>
                </div>
                <div class="row">
                    <div class="cell">Administrasjonsgebyr</div>
                    <div class="cell">0</div>
                    <div class="cell">0</div>
                </div>
                <div class="row border-bottom">
                    <div class="cell">Fondsforvaltningshonorar</div>
                    <div class="cell">0</div>
                    <div class="cell">0</div>
                </div>
                <div class="row">
                    <div class="cell header">Totalt*</div>
                    <div class="cell header">0</div>
                    <div class="cell header">0</div>
                </div>
            </div>
            
            <br/><br />
            <p class="info">
                Bokstaven G er en forkortelse for folketrygdens Grunnbeløp. G justeres av Stortingen hver 1. mai i takt med lønnsøkningen og har per 1. mai 2020 ligget på 101 351 kroner.
            </p>
            <p class="info">
                *Innskuddsfritakspremie er lovpålagt og dekker de ansattes pensjon i tilfelle uførhet.
            </p>
        </section>
    </section>

    <section class="sharedSection">
        <section class="sectioncontent bottom">
            <center>
                <br /><br />
                <p><input type="submit" class="btn valid" value="Neste" /></p>
                <p>@Html.ActionLink("Tilbake", "stepone", "Home", null, new { @class = "btn" })</p>
                <p>
                    Har du spørsmål? Send oss en e-post<br />på <a class="link" href="mailto:post@fiken.no">ﬁken@duvi.no</a>
                </p>
            </center>
        </section>
    </section>

    @section Scripts{
        <script>
            $(".showpanel").click(function () {
                //Need scrollto...--->
                $("#panel").slideToggle("slow", function () {
                });
            });

            $(document).ready(function () {
                var el1 = $('#inputRange1');
                var el2 = $('#inputRange2');
                calc(el1);
                calc(el2);
                makeSpace($("#YearlySalary"));
            });

            $("#YearlySalary").blur(function () {
                makeSpace($("#YearlySalary"))
            });

            function makeSpace(el) {
                var value = $(el).val();
                value = value.replace(/\s/g, '');
                var space = value.substring(0, 3);
                var leftto = value.substring(3, value.length);
                $(el).val(space + ' ' + leftto)
            }

            function calc(el) {
                var control = $(el),
                    controlMin = control.attr('min'),
                    controlMax = control.attr('max'),
                    controlVal = control.val(),
                    controlThumbWidth = control.data('thumbwidth');

                var range = controlMax - controlMin;

                var position = ((controlVal - controlMin) / range) * 100;
                var positionOffset = Math.round(controlThumbWidth * position / 100) - (controlThumbWidth / 2) + (position / 7);
                var output = control.next('output');

                output
                    .css('left', 'calc(' + position + '% - ' + positionOffset + 'px)')
                    .text(controlVal + '%');
            }


            function TableCalculation() {

                var savingsY = $('.table div.row:nth(1) .cell:nth(1)');
                var savingsM = $('.table div.row:nth(1) .cell:nth(2)');

                var depositY = $('.table div.row:nth(2) .cell:nth(1)');
                var depositM = $('.table div.row:nth(2) .cell:nth(2)');

                var feeY = $('.table div.row:nth(3) .cell:nth(1)');
                var feeM = $('.table div.row:nth(3) .cell:nth(2)');

                var feesY = $('.table div.row:nth(4) .cell:nth(1)');
                var feesM = $('.table div.row:nth(4) .cell:nth(2)');

                var totalY = $('.table div.row:nth(5) .cell:nth(1)');
                var totalM = $('.table div.row:nth(5) .cell:nth(2)');

                var base = $('#savings').text();

                $(savingsY).text((746 * 12));
                $(savingsM).text(746);

                $(depositY).text((746 * 12));
                $(depositM).text(746);

                $(feeY).text((804 * 12));
                $(feeM).text(804);
               
                $(feesY).text((44 * 12));
                $(feesM).text(44);

                $(totalY).text((parseInt(base) *12 ))
                $(totalM).text(base)
            }
            TableCalculation();
          

        </script>
    }
}