﻿@inject OrchardCore.Environment.Shell.Configuration.IShellConfiguration configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@configuration["CustomTitle"] @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <section class="sectionroot">
        <section class="sectioncontainer shadowed">
            @RenderBody()
        </section>
    </section>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/select.js"></script>
    <script src="~/js/calculate.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>