
@font-face {
	font-family: 'volte-rounded-regular';
	src: url("../fonts/volte-rounded-regular/volte-rounded-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/volte-rounded-regular/volte-rounded-regular.woff2") format("woff2"), url("../fonts/volte-rounded-regular/volte-rounded-regular.woff") format("woff"), url("../fonts/volte-rounded-regular/volte-rounded-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'volte-rounded-medium';
	src: url("../fonts/volte-rounded-medium/volte-rounded-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/volte-rounded-medium/volte-rounded-medium.woff2") format("woff2"), url("../fonts/volte-rounded-medium/volte-rounded-medium.woff") format("woff"), url("../fonts/volte-rounded-medium/volte-rounded-medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'volte-rounded-semibold';
	src: url("../fonts/volte-rounded-semibold/volte-rounded-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/volte-rounded-semibold/volte-rounded-semibold.woff2") format("woff2"), url("../fonts/volte-rounded-semibold/volte-rounded-semibold.woff") format("woff"), url("../fonts/volte-rounded-semibold/volte-rounded-semibold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}



body {
	margin: 10px auto;
	background: #fef9f3;
	color: #707070;
	font-family: 'volte-rounded-regular', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16pt;
	letter-spacing: -1px;
}

h1 {
	font-size: 30pt;
	letter-spacing: -2px;
	margin-bottom: 30px;
}

a {
	color: #4a4a4a;
	text-decoration: none;
	border-bottom: 1px solid #db5a49
}

a:hover{
  text-decoration: none;
  color: #db5a49;
}

a.link{
	color: #db5a49;
	text-decoration: none !important;
	border-bottom: none;
	font-weight: bold;
}
a.link:hover{
	text-decoration: underline !important;
}

h1.huge{
	font-size: 70px;
}

h2.medium{
	font-size: 50px;
}

.colored {
	color: #db5a49;
}

.logo{
	max-width: 90%;
	margin-top: 20px;
	margin-bottom: 40px;
}

.showpanel{
	cursor: pointer;
}

.smaller{
	font-size: smaller;
	font-weight: 400;
}

.info{
	font-size: 10pt;
}

