.sectionroot {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.sharedSection.gray {
    background: #f7f6f4;
    padding: 40px 20px;
    margin-bottom: 20px;
}

    .sharedSection.gray.hidden {
        padding-top: 20px;
        padding-bottom: 20px;
        display: none;
    }

@supports (-ms-ime-align:auto) {
    .sectioncontainer {
	background: #fff;
        -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
    }

    .shadowed {
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
        filter: url(#drop-shadow);
        -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
    }
}




.sectioncontainer{
   margin: 0 auto;
   max-width: 480px;
   border-radius: 25px;
   background: #fff;
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 0px 11px -2px rgba(0, 0, 0,c 0.22);
}

    /*Content container*/
    .sectioncontent {
        margin: 0 auto;
        padding: 0px 30px 0px;
        min-height: 100%;
    }

    /*Gap between cells(hack)*/
    .col-sm-6:first-child {
        text-align: left !important;
        background-clip: padding-box;
        border-right: 5px solid transparent;
    }

    .col-sm-6:last-child {
        text-align: right !important;
        background-clip: padding-box;
        border-left: 5px solid transparent;
    }

    .sectioncontent .row, .sectioncontent .col-sm-6, .container {
        margin: 0;
        padding: 0;
    }

        .sectioncontent .row .textfield {
            max-width: 100%;
        }

            .sectioncontent .stepindicator {
                margin: 0 auto;
            }

            .sectioncontent.bottom{
                padding-bottom: 70px;
            }