/* Screens that are 600px or less. */
@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
        margin-top: 0;
        background: #fff !important;
    }

    .sectionroot {
        margin: 0 !important;
        padding: 0 !important;
    }

    .sectioncontent {
        margin: 0 auto !important;
        padding: 0 0 !important;
        min-height: 100%;
    }

    .sharedSection.hidden {
        margin: 0 auto !important;
        padding: 20px 20px !important;
        min-height: 100%;
    }

    .sectioncontainer {
        margin: 0 auto;
        max-width: 95% !important;
        border-radius: 0;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    .col-sm-6:first-child {
        border-right: 0 !important;
    }

    .col-sm-6:last-child {
        border-left: 0 !important;
    }


    .infoimg {
       float: right;
       position: relative;
       z-index: 3;
    }

    .info-tooltip {
        float: none !important;
        position: unset !important;
        display: inline-block !important;
        
    }

    .info-tooltip, .tooltiptext span {
        float: none;
        display: inline-block;
        margin: 10px !important;
    }

    .tooltiptext {
        /* Position the tooltip */
        position: relative !important;
    }

    .info-tooltip .tooltiptext span {
        font-size: 8pt;
        visibility: visible !important;
        width: 100% !important;
        background-color: #fffdda !important;
        border: 1px solid #ddd;
        color: #383838 !important;
        text-align: left !important;
        border-radius: 2px !important;
        padding: 5px !important;
        display: block !important;
        position: relative !important;
        left: 0 !important;
        top: 0 !important;
    }
}