.dropdown{
    outline: none;
}
/*Selectbox*/
.dropdown {
  width: 100%;
  display: inline-block;
  background-color: #fff;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all .1s ease;
  position: relative;
  color: #474747;
  height: 100%;
  text-align: left;
  border-bottom: 2px solid #999;
  padding-bottom: 4px;
}

.dropdown.valid{
	border-bottom: 2px solid #86d993;
}

.dropdown.invalid{
	border-bottom: 2px solid red;
}

    .dropdown.disabled{
        background: #eee;
    }

    .dropdown label {
        margin: 0;
        position: relative;
        top: 0;
        font-size: 12pt;
        padding-left: 10px;
        color: #808080;
        font-weight: 400;
    }

.dropdown .select {
    margin: 0;
    cursor: pointer;
    display: block;
    font-size: 14pt;
    padding-left: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown .select > i {
    font-size: 14px;
    color: #888;
    cursor: pointer;
    transition: all .1s ease-in-out;
    float: right;
    line-height: 0px
}

.dropdown:active {
    background-color: #f8f8f8
       
}
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
   
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: -1px;
    border-left: none !important;
    border-right: none !important;
    box-shadow: 0 0 0 rgb(204, 204, 204), 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 0px 3px 3px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}


.dropdown .dropdown-menu li {
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14pt;
    transition: all .1s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

/*
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #888;
    background-color: #e2e2e2;
}*/