.stepindicator{
  width: 150px;
  margin-bottom: 50px !important;
}

    .stepindicator .steps {
        line-height: 30px;
        width: 100%;
        text-align: center !important;
        margin-bottom: 10px;
        color: #707070;
        font-size: 12pt;
    }


.stepindicator-horizontal {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  outline: 0;
  font-size: 15px;
  font-family: inherit;
  display: block;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  background: 0 0;
  list-style: none;
  z-index: 1; 
}


.stepindicator .progressline {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  height: 3px;
  background: #ffaba7;
  margin: 0 auto;
  width: 70%;
  top: 13px;
  left: 0; }

.stepindicator-horizontal span {
    height: 22px;
    width: 22px;
    background-color: #ffaba7;
    border-radius: 50%;
    display: inline-block;
    padding-left: 6.7px;
}



    .stepindicator-horizontal > li {
        display: inline-block;
        *display: inline;
        line-height: 22px;
        margin: 0 0 0 15px;
        font-weight: bold;
        color: #fff;
    }


.stepindicator-horizontal .step.active span {
  background-color: #db5a49; }
