.round {
    position: relative;
}

    .round label {
        background-color: #fff;
        border: 1px solid #383838;
        border-radius: 50%;
        cursor: pointer;
        height: 28px;
        left: 0;
        position: absolute;
        top: 0;
        width: 28px;
    }

        .round label:after {
            border: 2px solid #eee;
            border-top: none;
            border-right: none;
            content: "";
            height: 6px;
            left: 7px;
            opacity: 0;
            position: absolute;
            top: 8px;
            transform: rotate(-45deg);
            width: 12px;
        }

       

    .round input[type="checkbox"] {
        visibility: hidden;
    }

        .round input[type="checkbox"]:checked + label {
            background-color: #383838;
            border-color: #383838;
        }

            .round input[type="checkbox"]:checked + label:after {
                opacity: 1;
            }

    .round span {
        padding-left: 35px;
    }


.align{
    text-align: center;
}

.toggle{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}