.infoimg{
  width: 20px;
  height: 20px;
}

.info-tooltip {
  float: right;
  position: relative;
  display: inline-block;
}

.tooltiptext  
{
    /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.info-tooltip .tooltiptext span {
    font-size: 8pt;
    visibility: hidden;
    width: 300px;
    max-width: 90%;
    background-color: #4a4a4a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    display: block;
    position: relative;
    left:10px;
    top: -80px;
    text-align: left;
    padding: 20px;
}

.info-tooltip:hover .tooltiptext span {
  visibility: visible;
}